.main-wrapper
	.badge.yellow
		.circle 
			i(class='fa fa-bolt')
		.ribbon Initiator
		
	.badge.orange
		.circle 
			i(class='fa fa-wheelchair-alt')
		.ribbon Disabler
	
	.badge.pink
		.circle 
			i(class='fa fa-pied-piper')
		.ribbon Nuker
		
	.badge.red
		.circle 
			i(class='fa fa-shield')
		.ribbon Ganker
		
	.badge.purple
		.circle 
			i(class='fa fa-anchor')
		.ribbon Durable
		
	.badge.teal
		.circle 
			i(class='fa fa-bicycle')
		.ribbon Roamer

	.badge.blue
		.circle 
			i(class='fa fa-users')
		.ribbon Pusher
		
	.badge.blue-dark
		.circle 
			i(class='fa fa-rocket')
		.ribbon Escape
		
	.badge.green
		.circle 
			i(class='fa fa-tree')
		.ribbon Jungler
		
	.badge.green-dark
		.circle 
			i(class='fa fa-user fa-street-view')
		.ribbon Offlaner
		
	.badge.silver
		.circle 
			span.font AFK
		.ribbon Carry
		
	.badge.gold
		.circle 
			i(class='fa fa-magic')
		.ribbon Support
		

footer
	a(href="https://www.linkedin.com/in/oliviale/" target="_blank")
		i(class="fa fa-linkedin icons")
	a(href="https://twitter.com/meowlivia_" target="_blank")
		i(class="fa fa-twitter icons")
	a(href="https://github.com/oliviale" target="_blank")
		i(class="fa fa-github icons")
	a(href="https://dribbble.com/oliviale" target="_blank")
		i(class="fa fa-dribbble icons")